<html>
    <head>
        <title>[The Block Co] Wine| Cheese| Charcuterie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/landing.css">

    </head>
    <body class="d-flex flex-column">
       
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="/" class="navbar-brand">The Block Co</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <div class="navbar-nav">
                    
                    <a href="/whatWeDo" class="nav-item nav-link">What We Do</a>
                    <a href="/BYOB" class="nav-item nav-link active">B.Y.O.B</a>
                    <a href="/Gallery" class="nav-item nav-link">Gallery</a>
                    <a href="/getintouch" class="nav-item nav-link">Get In Touch</a>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-sm-6">
                <h1 class="display-5">Bring Your Own Board</h1>
                <P class="test">Our BYOB program (Bring Your Own Board) was created for you! Just bring in your board, give us a budget and we will create a unique board for you. If you don’t have one, we sell in shop, or you can rent one.</P>
                <P class="test">Step 1: Call us or fill out the B.Y.O.B form below</P>
                <P class="test">Step 2 (3 Options): A) Drop off your board and we will create some magic</P>
                <P class="test">B) Rent one of our boards (fee applies)</P>
                <P class="test">C) Buy a board so that you'll always have one for future orders and entertaining</P>
                <P class="test">Step 3: Do you like Blue Cheese and Do you Like nuts? All boards come with both unless you Skip/Pass</P>
                <P class="test">When all else fails……..cheese</P>
                <P class="test">B.Y.O.B Date night feature: Charcuterie for 2. A bottle of wine or four craft beer. Only $80.</P>
            </div> 
            <div class="col-sm-6">
                <img src="/images/back.jpeg" class="img-fluid rounded mx-auto d-block" width="500" height="500" alt="Responsive Image">
                
            </div>
        </div> 
         
        <div class="row" id="form">
            <div class="col-sm-12 " >
                <form class="needs-validation" novalidate>
                    <h1 class="display-5">B.Y.O.B</h1>
                    <div class="form-group">
                        <label for="colFormLabel" class="col-sm-12 col-form-label">Name</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="guest_name" placeholder="Name" required>
                        <div class="invalid-feedback">Please provide a name</div>
                        </div>
                    </div>
                    <div class="form-check form-check-inline pl-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Own board">
                        <label class="form-check-label" for="inlineRadio1">A) Have my own board</label>
                    </div>
                    <div class="form-check form-check-inline pl-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Rent board">
                        <label class="form-check-label" for="inlineRadio2">B) Would like to rent a board</label>
                    </div>
                    <div class="form-check form-check-inline pl-3">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Buy board" >
                        <label class="form-check-label" for="inlineRadio3">C) Would like to buy a board</label>
                    </div>
                    <div class="form-group">
                        <label for="colFormLabel" class="col-sm-12 col-form-label">Name</label>
                        <div class="col-sm-12">
                          <input type="email" class="form-control" id="guest_email" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div class="form-check form-check-inline pl-3">
                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio5" value="NO BLUE CHEESE">
                        <label class="form-check-label" for="inlineRadio5">Skip the Blue Cheese</label>
                    </div>
                    <div class="form-check form-check-inline pl-3">
                        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio7" value="NO NUTS">
                        <label class="form-check-label" for="inlineRadio7">Pass on the nuts</label>
                    </div>
                    <div class="form-group">
                        <label for="colFormLabel" class="col-sm-12 col-form-label">Phone Number</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="guest_phone" placeholder="905 123 4567" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button> 
                      
                </form>
            </div>
            
        </div> 
         
            
      

            <div class="d-flex align-self-center" id="social">
                <div id="social-buttons">
                    <a href="https://www.facebook.com/theblockcoBurlington"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/TheBlockCo_"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/theblockco2016/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>



     
    
        <footer>
            <p><small> &copy 2020 The Block Co. Developed by 
                <a class="publisher" href="#">Jon Shallcross</a></small> 
            </p>
        </footer>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>
</html>    