<html>
    <head>
        <title>[The Block Co] Wine| Cheese| Charcuterie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/landing.css">

    </head>
    <body class="d-flex flex-column">
       
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="/" class="navbar-brand">The Block Co</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <div class="navbar-nav">
                    
                    <a href="/whatWeDo" class="nav-item nav-link  active">What We Do</a>
                    <a href="/BYOB" class="nav-item nav-link">B.Y.O.B</a>
                    <a href="/Gallery" class="nav-item nav-link">Gallery</a>
                    <a href="/getintouch" class="nav-item nav-link">Get In Touch</a>
                </div>
            </div>
        </nav>
        <div class="row" id="wwd">
            <div class="col-sm-6">
                <h1 class="display-5">Events at The Block Co</h1>
                <P class="test">The Block co.’s event side is what I like to call ‘The Underground Restaurant experience” It goes back to a time when restaurants and bars were meant for social engagement, a time when it was all about food, fun, ease, friends and new experiences. The Block Co will host your next event by working with your budget, building menu options, and supplying all the essentials. Weather it’s a fathers birthday experience, girls night out or a small, intimate wedding celebration. The Block co can offer something truly unique. (Please keep in mind, the space is for small intimate gatherings) Contact the Block Co to book your event.</P>
                <P class="test">Follow our Instagram (@theblockco2016) and our Facebook page (@theblockcoburlington) to see when the next Block co monthly event is. Tickets will be sold in store for a maximum of 20 guests. These events are BYOB social mixers, with one of the largest charcuterie boards you will ever see and a special chef item to be announced at the event.</P>
                <P class="test">When all else fails……..cheese</P>
            </div>  
            <div class="col-sm-6">
                <img src="/images/event.jpeg" class="img-fluid rounded mx-auto d-block" width="500" height="500" alt="Responsive Image">
            </div>
            <div class="col-sm-6">
                <h2 class="display-5">Passion and Quality</h2>
                <P class="test">The Block Co began in 2016 with a passion to bring together food lovers by showcasing cheese and charcuterie, a local hub where you can find some of the worlds best cheese and charcuterie producers, local chefs and private events, as well as a local retailer of goods and provisions. Our BYOB program (Bring Your Own Board) was created for you! Just bring in your board, give us a budget and we will create a unique board for you. If you don’t have one, we sell in shop, or you can rent one. This was the primary focus of The Block Co.</P>
                <P class="test">Fast forward to 2019………..The Block Co has evolved into something completely extraordinary.</P>
                <P class="test">Troy Smith started out in the restaurant industry as a dish washer at the wee age of 15 and worked his way through every position, feeding a passion he didn’t know existed until later on in his career when he decided to take on a management position. From then on Troy worked with some of the best restaurateurs, chefs and owners. Developing his skills until finally landing a GM position. Troy says; “I’ve always known I’d be opening The Block Co one day, I just never knew her name! When we started out the Block Co was something completely different, and only came to fruition in 2016. Now it’s taken on an identity of its own!</P>
                <P class="test">Andy Hrstic has experienced great success throughout his career as a kinesiologist, working with doctors, lawyers and insurance companies as well as flexing his entrepreneurial skills by running his own company.  However, just like many of you, Andy has many interests and passions, which bring him to The Block Co.  After completing his own business plan for a restaurant revolving around Charcuterie, Craft Beer and Wine, he realized that he needed to gain a better understanding of the industry that he wanted to enter.  That’s where Andy met Troy!  Andy applied for a part time job at the The Block Co, where his passion for charcuterie was confirmed.</P>
                <P class="test">The partnership with Troy and Andy was solidified in May of 2018 which has brought The Block Co to it’s next echelon of its evolution.  Which has provided a fresh new experience for our amazing customers to experience in our lounge, to enjoy Wine, Craft Beer and Charcuterie while also maintaining our BYOB program and our retail options.</P>
                <P class="test">We look forward to seeing you soon.</P>
            </div>
            <div class="col-sm-6">
                <img src="/images/board.jpg" class="img-fluid rounded mx-auto d-block" width="500" height="500" alt="Responsive Image">
            </div>
        </div>
        
        
       
        <div class="row align-items-center" id="social">
            <div class="col-med-6 " id="social-buttons">
                <a href="https://www.facebook.com/theblockcoBurlington"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/TheBlockCo_"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/theblockco2016/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

      
        <footer>
            <p><small> &copy 2020 The Block Co. Developed by 
                <a class="publisher" href="#">Jon Shallcross</a></small> 
            </p>
        </footer>
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>
</html>    