body {
    background:#292b2c;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar{

}
label {
  color: white;
  padding-right: 10px;
}
#form {
  
  
  align-self: center;

}
.form-check{
  color: white;
}
img {
  padding-top: 20px;
  padding-bottom: 20px;
  
}
a {
  color: white;
}
 a :hover {
  color:#0688c8;
 }

#main-jumbo{
    background-image: url("/images/charc2.jpeg");
    background-position:center;
    background-repeat: no-repeat ;
    background-size: cover;
    
    text-align: center;
    height: 100vh;
    
    
}
#ad-jumbo{
 
    background:#292b2c;
    align-items: center;
    text-align: center;
    height: 100%;
    width:85%;
   
    
}
#title{
  align-items: center;
  text-align: center;
  font-family:'Dancing Script', cursive ;
  padding-top: 75px;
  height: 100%;
}
.display-3{
  padding-bottom: 20px;
  color: white;
  font-family: 'Dancing Script', cursive;
  
  
}
.display-5{
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  
}


.lead {
    padding-top: 20px;
    color: white;
    font-size: 1.5rem;
    
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color:white;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 2.5em;
    padding: 0 0.25em;
    
}
/* Social Buttons */
#social{
  padding-top: 20px;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

#social-buttons a{
    display: inline-flex;
    text-decoration: none;
    font-size: 40px;
    width: 80px;
    height: 80px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
  }
  
  #social-buttons a::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in;
  }
  
  #social-buttons a:hover::before{
    transform: scale(0);
  }
  
  #social-buttons a i{
    transition: 0.3s ease-in;
  }
  
  #social-buttons a:hover i{
    background: linear-gradient(45deg,#22a6b3,#30336b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(2.2);
  }
  footer {
      color: white;
      text-align: center;
      padding-right: 5px;
      padding-top: 25px;
     
  }
  .publisher {
      color: white;
  }
 a:hover {
      text-decoration: none;
      color: teal;
  }

  .fb-feed{
    padding-top: 20px;
    padding-right: 20px;
  }

  .test {
    color: white;
    text-align: center;
    padding-left: 25px;
  }
